
@import "../tpls/base.wxss";

.write-container{
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-x: hidden;
  background: #eee;
}
page{
  height: 100%;
  background: #f2f2f2;
}
.write-icon-container{
  transition: .3s all ease-in-out;
}
.write-icon{
  background:#fff;
  text-align: center;
}
.write-icon image{
  width: 80rpx;
  height: 80rpx;
}
.tip-list{
  text-align: center;
  color: #666;
  font-size: 26rpx;
  overflow:hidden;
}
