
 <view class="entering-container f-hfull">
    <form bindsubmit="sendNewMood">

        <view class="enter-area">
            <textarea auto-focus placeholder-style="color:#ccc" bindblur="textareaContentChange"  placeholder="写下此刻的心情吧" maxlength="140"  value="{{ textareaContent }}" name="content"/>
        </view>

        <!-- 匿名 -->
        <view class="anonymous-container">
          <label class="anonymous-label f-bfs">匿名</label>
          <switch checked 
            color="#1b88ee" 
            type="checkbox"
            name="anonymous"
            checked="{{ false }}"
            bindchange="switchAnonymousChange"/>
        </view>

        <!-- 图片相关 -->
        <view class="preview-container">
            <view class="upload-area" bindtap="chooseImage">
              <view class="upload-content">
                <image src="http://osbfr39w7.bkt.clouddn.com/2kkdsgljljjsdfij.png"></image>
              </view>
            </view>
            <view class="preupload-img f-pr" wx:if="{{ preUploadUrl !== '' }}">
              <view class="del-btn f-pa" bindtap="delPreUrl">-</view>
              <image src="{{ preUploadUrl }}" mode="aspectFill"></image>
            </view>
        </view>


        <view class="header-area f-pr">
            <view class="submit-area">
                <button type="primary" disabled="{{ submitBtnFlag }}" hover-class="hover-bg" formType="submit">发表</button>
            </view>
        </view>

    </form>
  </view>