
<view class="myinfo-container">
  <view class="avatar-area">
    <view class="avatar-inner "><image class="f-hfull f-wfull" src="{{ currentUserAvatar }}"></image></view>
    <view class="username f-bfs">{{ currentUsername }}</view>
  </view>

  <view class="myinfo-func-list">
      <view class="func-item" wx:for="{{ funclist }}" wx:key="{{ index }}" >
          <view class="f-ib func-name f-pr" bindtap="changetofunc" data-id="{{ item.id }}" hover-class="hover-bg-deep">
            {{ item.name }}
            <view wx:if="{{ item.id===2 && messageCount>0 }}" class="func-bradge f-ib">{{ messageCount }}</view>
            <view style="background:#ccc;" wx:if="{{ item.id===3 && commentCount>0 }}" class="func-bradge f-ib">{{ commentCount }}</view>
            <view style="background:#ccc;" wx:if="{{ item.id===1 && moodCount>0 }}" class="func-bradge f-ib">{{ moodCount }}</view>
          </view>
      </view>
  </view>
</view>
