
<view class="detail-container" wx:if="{{ requestFlag }}">
  <view class="detail-head f-wfull">
      <view class="detail-avatar">
        <image src="{{ !detailInfo.anonymousflag ? detailInfo.utterer.userPic : 'http://osbfr39w7.bkt.clouddn.com/04b697569156c1af7f89edc5e0c086b3.png' }}" class="f-hfull f-wfull"></image>
      </view>
      <view class="detail-name">
        {{ !detailInfo.anonymousflag ? detailInfo.utterer.username : '匿名' }}
      </view>
  </view>
  <view class="detail-content">
      {{ detailInfo.content }}
  </view> 
  <view class="detail-image" wx:if="{{ detailInfo.pic }}" bindtap="previewImage" data-url="{{ detailInfo.pic.url }}">
    <!-- style="width: {{ detailInfo.imageWidth }}rpx; height: {{ detailInfo.imageHeight }}rpx" bindload="imageLoad" -->
    <image src="{{ detailInfo.pic.url }}!/fxfn/300x410" mode="aspectFit" ></image>
  </view>
  <view class="detail-date f-mt10 f-pr">
    <text>写于{{ detailInfo.createdAt }}</text>
    <image hidden="{{ routeFrom === 'square' }}" bindtap="delMood" data-id="{{ detailInfo.objectId }}" src="../../imgs/delete.png" class="del-icon"></image>
  </view>
  <view class="support-users">
    <image bindtap="supportMood" data-id="{{ detailInfo.objectId }}" src="{{ supportYouselfFlag ?  '../../imgs/support@red.png' : '../../imgs/support.png' }}" class="support-icon f-mr5"></image>
    <text class="support-count f-mr20" style="color: {{ supportYouselfFlag? '#ED9121': '#bababa' }}">{{ supportlist.length }}人赞</text>
    
     <view class="support-avatar-list" wx:if="{{ supportlist.length }}"
      wx:if="{{ !modalOpenFlag }}"
      bindtap="showSupportDetail">
      <block wx:for="{{ supportlist }}" wx:key="item.index">
          <view class="support-avatar-item">
              <image src="{{ item.supporter.userPic }}" class="support-avatar"></image>
          </view>
      </block>
     </view> 

     <view class="support-avatar-detail-list" 
      bindtap="hideSupportDetail"
      wx:else>
        <block wx:for="{{ supportlist }}" wx:key="item.index">
          <view class="support-avatar-item">
              <image src="{{ item.supporter.userPic }}" class="support-avatar"></image>
              <text class="f-bfs">{{ item.supporter.username }}</text>
          </view>
        </block>
     </view>
  </view>

  <!-- 热评区域 -->
  <view class="support-users hot-comment-area" wx:if="{{ hotCommentlist.length }}">
    <image class="love-support-icon f-mr10" src="../../imgs/hot_comment.png"></image>
    <text class="support-count">热评</text> 
  </view>
  <view class="comment-container" wx:if="{{ hotCommentlist.length }}">
      <block wx:for="{{ hotCommentlist }}" wx:key="{{ item.index }}">
          <view class="detail-comment f-clear f-wfull">
              <view class="detail-comment-avatar f-fl">
                <image src="{{ item.commentor.userPic }}" class="f-hfull f-wfull"></image>
              </view>
              <view class="detail-comment-info f-fl">
                <view class="comment-user-info f-clear">
                    <view class="comment-name f-fl">{{ item.commentor.username }}</view>
                    <view class="comment-support f-fr f-pr" bindtap="supportOneComment" data-index="{{ index }}" data-type="hot" data-id="{{ item.objectId }}">
                        <image class="support-icon f-mr20" src="../../imgs/support.png"></image>
                        <text class="comment-support-count">{{ item.supportlist.length }}</text>
                        <image wx:if="{{ index <= 2 }}" class="hottag-icon f-mr10 f-pa" src="../../imgs/hottag.png"></image>
                    </view>
                </view>
                <view class="comment-conent" style="padding-top:36rpx;" hover-class="hover-bg" bindtap="awakeReplyInput" data-type="hot" data-index="{{ index }}" data-id="{{ item.objectId }}" data-commentorid="{{ item.commentor.objectId }}" data-replycount="{{ item.replycount || 0 }}">
                    {{ item.content }}
                </view>
                <view class="comment-reply" wx:if="{{ routeFrom==='my' }}">
                  <text class="f-mr20" wx:if="{{ !item.replylist && item.replycount }}" bindtap="viewAllReplyForOneComment" data-type="hot" data-index="{{ index }}" data-id="{{ item.objectId }}">回复(<text>{{ item.replycount }}</text>)</text>
                </view>
                <view class="comment-reply-list f-pr" wx:if="{{ item.replylist }}">
                  <view class="triangle f-pa"></view>
                  <block wx:for="{{ item.replylist }}" wx:key="{{ index }}">
                    <view class="reply-text-item">
                      <text class="reply-username">{{ item.replyer.username }}</text>回复<text class="reply-username">{{ item.replyreceiver.username }}:</text><text>{{ item.content }}</text>
                    </view>
                  </block>
                </view>
                <view class="comment-date">
                  <text style="color:#666;">{{ item.createdtime }}</text>
                </view>
              </view>
          </view>
      </block>
  </view>

  <!-- 评论区域 -->
  <view class="support-users">
    <image class="love-support-icon f-mr10" src="../../imgs/comment.png"></image>
    <text class="support-count">{{ commentlist.length }}人评论</text> 
  </view>
  <view class="comment-container">
      <block wx:for="{{ commentlist }}" wx:key="{{ item.index }}">
          <view class="detail-comment f-clear f-wfull">
              <view class="detail-comment-avatar f-fl">
                <image src="{{ item.commentor.userPic }}" class="f-hfull f-wfull"></image>
              </view>
              <view class="detail-comment-info f-fl">
                <view class="comment-user-info f-clear">
                    <view class="comment-name f-fl">{{ item.commentor.username }}</view>
                    <view class="comment-support f-fr" bindtap="supportOneComment" data-index="{{ index }}" data-type="normal" data-id="{{ item.objectId }}">
                        <image class="support-icon f-mr20" src="{{ checkCommentSupportFlag ? '../../imgs/support@red.png' : '../../imgs/support.png' }}"></image>
                        <text class="comment-support-count">{{ item.supportlist.length }}</text>
                    </view>
                </view>
                <view class="comment-conent" hover-class="hover-bg" bindtap="awakeReplyInput" data-type="normal" data-index="{{ index }}" data-id="{{ item.objectId }}" data-commentorid="{{ item.commentor.objectId }}" data-replycount="{{ item.replycount || 0 }}">
                    {{ item.content }}
                </view>
                <view class="comment-reply" wx:if="{{ routeFrom==='my' }}">
                  <text class="f-mr20" wx:if="{{ !item.replylist && item.replycount }}" bindtap="viewAllReplyForOneComment" data-type="normal" data-index="{{ index }}" data-id="{{ item.objectId }}">回复(<text>{{ item.replycount }}</text>)</text>
                  <!-- <text bindtap="awakeReplyInput" data-id="{{ item.objectId }}" data-commentorid="{{ item.commentor.objectId }}" data-replycount="{{ item.replycount || 0 }}">回复</text> -->
                </view>
                <view class="comment-reply-list f-pr" wx:if="{{ item.replylist }}">
                  <view class="triangle f-pa"></view>
                  <block wx:for="{{ item.replylist }}" wx:key="{{ index }}">
                    <view class="reply-text-item">
                      <text class="reply-username">{{ item.replyer.username }}</text>回复<text class="reply-username">{{ item.replyreceiver.username }}:</text><text>{{ item.content }}</text>
                    </view>
                  </block>
                </view>
                <view class="comment-date">
                  <text style="color:#666;">{{ item.createdtime }}</text>
                </view>
              </view>
          </view>
      </block>
  </view>

  <view hidden="{{ routeFrom==='my' }}">
    <form class="reply-container f-clear" bindsubmit="replayAction">
        <view class="reply-input f-fl">
          <input maxlength="1000" value="{{ commentPreContent }}" placeholder="写评论" name="replytext"/>
        </view>
        <view class="reply-submit f-fr f-clear">
          <button type="primary" disabled="{{ commentBtnFlag }}" size="mini" hover-class="hover-bg" class="f-fr" formType="submit">发送</button>
        </view>
    </form>
  </view>
  <view wx:if="{{ replyInputFlag }}">
    <form class="reply-container f-clear" bindsubmit="replyComment">
        <view class="reply-input f-fl">
          <input maxlength="1000" value="{{ replyPreContent }}" auto-focus placeholder="{{ replyPlaceholder }}" name="replytext"/>
        </view>
        <view class="reply-submit f-fr f-clear">
          <button type="primary" size="mini" hover-class="hover-bg" class="f-fr" bindtap="cancelReply">取消</button>
          <button type="primary" disabled="{{ replyBtnFlag }}" size="mini" hover-class="hover-bg" class="f-fr f-mr10" formType="submit">回复</button>
        </view>
    </form>
  </view>
  
</view>